<h1>Ecards: Edit</h1>
<ul>
<%= form_tag(ecard_path(@ecard.id), :method => "put", :multipart => true) do %>
	<%= hidden_field_tag 'id', @ecard.id %>

	<li><%= label_tag(:title, "Title:") %></li>
	<li><%= text_field_tag(:title, @ecard.title) %></li>
	
	<li><%= label_tag(:description, "Description:") %></li>
	<li><%= text_area_tag(:description, @ecard.description, :class => "description") %></li>
	
	<li><%= label_tag(:tags, "Tags:") %></li>
	<li><%= text_field_tag(:tags, @ecard.tags) %></li>

    <li><%= label_tag(:swf_file, "SWF:") %></li>
    <li><%= file_field_tag(:swf_file) %></li>

    <li><%= label_tag(:video_file, "Video Filename:") %></li>
    <li><%= file_field_tag(:video_file) %></li>

    <li><%= label_tag(:image_file, "Image:") %></li>
    <li><%= file_field_tag(:image_file) %></li>

  <li><%= submit_tag("Update") %></li>
<% end %>
</ul>