<header class="round">
	<%= link_to logo, "http://www.artiphany.com/" %>
	<nav class="round">
		<ul>
			<li><%= link_to "ABOUT", "http://www.artiphany.com/pages/about-us" %></li>
			<li><%= link_to "STORE", "http://www.artiphany.com/collections/all" %></li>
			<li><%= link_to "CONTACT", "http://www.artiphany.com/pages/contact" %></li>
			<li style="border-right:none;"><%= link_to "SUPPORT", "http://www.artiphany.com/pages/support" %></li>
		</ul>
	</nav>
</header>